# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Inclusions
!lib/**

# Compiled Files
*.class
bin/
build/
/bin1/
java/build/**

data/db/mysql_data/mysql
data/db/mysql_data/test
data/db/mysql_data/performance_schema
data/db/mysql_data/aria_log.00000001
data/db/mysql_data/aria_log_control
data/db/mysql_data/ib_buffer_pool
data/db/mysql_data/ib_logfile0
data/db/mysql_data/ibdata1
data/db/mysql_data/ibtmp1
data/db/mysql_data/multi-master.info
